body {
    background-color: rgb(31, 79, 168);
}

head {
    background-color: rgb(31, 79, 168);
}

.container {
    display: flex;
    justify-content: center;
}

.hexagon{
    position: relative;
    bottom: 60%;
    z-index: 0;
}

#main-container {
    background-image: url(../PhotoForWebsite.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1280px;
    margin-top: 60px;
    padding-top: 40px;
    z-index: -2;
}

.column > div {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
}

div > h1,h2 {
    z-index: 1;
}